<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%=quiz.pregunta %>"/><p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%=quiz.respuesta %>"/><p>
<select name="quiz[tema]">
<option value="Otro" selected>Otro</option>
<option value="Humanidades" >Humanidades</option>
<option value="Ciencia"> Ciencia</option>
<option value="Tecnologia" >Tecnología</option>
<p>
<a href="/quizes">Cancelar</a>
<input type="submit" value="Salvar">
